{% extends 'base.html' %}
{% load static %}

{% block title %} {{ selected_category.name }} - {% endblock %}

{% block content %}
    <div class="container">
        <div class="search-field">
            <form action="{% url 'search' %}" method="get" role="search">
                <div class="input-group search-field-inline">
                    <input type="search" class="px-3 py-3" name="q" placeholder="{{ global_ad_count }} e'lonlar yoningizda" required aria-label="Search" aria-describedby="search-addon" />
                    <button class="btn btn-light search-button" type="submit">Qidiruv <i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div style="background: #fff" class="py-4">
            <div class="image-container px-3">
                {% for category in global_all_category %}
                    <figure class="mx-3">
                        <a class="a-rm-bg" href="{% url 'ads:category' category.slug %}"><img class="cat-img" src="{{ category.image.url }}" width="70" height="70" alt="Image 1"></a>
                        <figcaption class="mt-3"><a href="{% url 'ads:category' category.slug %}">{{ category.name }}</a></figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
        <div class="detail-cat-field">
            <h6><a href="/">Bosh sahifa</a> / <a class="">{{ selected_category.name }}</a></h6>
        </div>
        <h4 class="my-4">Biz bu toifaga oid {{ category_items.count }}ta e'lon topdik</h4>
       {% for category_item in category_items %}
           <div class="row my-3 cat-item">
                <div class="col-lg-3 col-md-4 col-sm-5 col-5">
                    {% if category_item.image %}
                        <a href="{% url 'ads:detail' selected_category.slug category_item.slug %}">
                            <img src="{{ category_item.image.url }}" alt="">
                        </a>
                    {% else %}
                        <a href="{% url 'ads:detail' selected_category.slug category_item.slug %}">
                            <img src="{% static 'images/default_img.jpg' %}" alt="">
                        </a>
                    {% endif %}
                </div>
                <div class="col-lg-9 col-md-8 col-sm-7 col-7">
                    <h5><a href="{% url 'ads:detail' selected_category.slug category_item.slug %}">{{ category_item.title|truncatechars:150 }}</a></h5>
                    <div class="p-test-t">
                        {% if category_item.price %}
                            <p class="pt-2"><b>{{ category_item.price }} {{ category_item.currency }}</b></p>
                        {% else %}
                            <p class="pt-2"><b>Bepul</b></p>
                        {% endif %}
                    </div>
                    <p><small>{{ category_item.category_city.name }} - {{ category_item.created_time|date:'Y-m-d' }}</small></p>
                </div>
            </div>
       {% endfor %}

    </div>
{% endblock %}
