{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/olx-icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}Olx e'lonlar taxtasi</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary py-1 fixed-top" style="background: #002f34 !important; color: white !important;">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/olx-logo.png' %}" alt="olx" width="55" height="55">
    </a>
      <div class="clear" style="width: 46%"></div>
    <a style="color: #fff; !important;" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa-solid fa-bars"></i></span>
    </a>
    <div class="offcanvas offcanvas-end text-bg-dark" id="navbarSupportedContent">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Olx</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
      <div class="offcanvas-body">
      <ul class="navbar-nav me-auto mt-1 mb-3 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'chat-home' %}" class="nav-link me-5 nav-btn a-rm-bg">
              <i class="fa-regular fa-comment me-3"></i>Xabarlar
          </a>
        </li>
        <li class="nav-item">

            <div class="nav-item dropdown">
              {% if request.user.is_authenticated %}
                  <div class="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <a href="#" class="nav-link nav-btn dropdown-toggle a-rm-bg">
                          <i class="fa-regular fa-user me-3"></i>Hisobingiz
                      </a>
                  </div>
              {% else %}
                      <a href="{% url 'users:login' %}" class="nav-link nav-btn a-rm-bg">
                          <i class="fa-regular fa-user me-3"></i>Hisobingiz
                      </a>
              {% endif %}
              {% if request.user.is_authenticated %}
                  <ul class="dropdown-menu dropdown-menu-end">
                      <h5 class="ms-2">{{ request.user.username }}</h5>
                      <hr class="mb-0">
                      <li class="ms-1"><a class="ms-2" href="{% url 'users:profile' %}">Profile</a></li>
                      <li class="ms-1"><a class="ms-2" href="{% url 'chat-home' %}">Xabarlar</a></li>
                      <li class="ms-1"><a class="ms-2" href="{% url 'users:my-ads' %}">E'lonlar</a></li>
                      <li class="ms-1"><a class="ms-2" href="{% url 'users:contact-us' %}">Contact</a></li>
                      <hr class="my-2">
                      <li class="ms-1"><a class="ms-2" href="{% url 'users:logout' %}">Logout</a></li>
                  </ul>
              {% endif %}
            </div>
        </li>
      </ul>
{#      <ul class="navbar-nav mb-2 mb-lg-0">#}
{#          <li class="navbar-item"><a style="color: #fff !important;" class="nav-link" href="">Login</a></li>#}
{#          <li><a style="color: #fff !important;" class="nav-link" href="">Register</a></li>#}
{#      </ul>#}
          <a href="{% url 'ads:create' %}"><button class="navbar-nav button add-btn me-5">E'lon berish</button></a>
      </div>
    </div>
  </div>
</nav>
<div style="margin-bottom: 100px"></div>
    {% if messages %}
        <div class="container">
        {% for message in messages %}
            <div class="mt-3 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
<div class="body-div mt-4" style="background: #f2f4f5;">
    {% block content %}
    {% endblock %}
</div>
<!-- Footer -->
<footer class="black-line text-center text-lg-start text-white" style="background: #f2f4f5">
    <div class="px-4 container p-4">
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 mt-1">
              <p class="my-1"><a class="" title="Mobil ilovalar">Mobil ilovalar</a></p>
              <p class="my-1"><a class="" title="Yordam">Yordam</a></p>
              <p class="my-1"><a class="" title="Pullik xizmatlar">Pullik xizmatlar</a></p>
              <p class="my-1"><a class="" title="OLX da biznes">OLX da biznes</a></p>
              <p class="my-1"><a class="" title="Foydalanish shartlari">Foydalanish shartlari</a></p>
              <p class="my-1"><a class="" title="Maxfiylik siyosati">Maxfiylik siyosati</a></p>
              <p class="my-1"><a class="" title="Reklama narxlari">Reklama narxlari</a></p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 mt-1">
            <p class="my-1"><a class="" title="Qanday sotib olish va sotish">Qanday sotib olish va sotish</a></p>
            <p class="my-1"><a class="" title="Xavfsizlik qoidalari">Xavfsizlik qoidalari</a></p>
            <p class="my-1"><a class="" title="Sayt xaritasi">Sayt xaritasi</a></p>
            <p class="my-1"><a class="" title="Mintaqalar xaritasi">Mintaqalar xaritasi</a></p>
            <p class="my-1"><a class="" title="Ommaviy so'rovlar">Ommaviy so'rovlar</a></p>
            <p class="my-1"><a class="" title="Kariera">Kariera</a></p>
            <p class="my-1"><a class="" title="Contact">Contact</a></p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none"/>

          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 mt-1">
              <a target="_blank" href="https://play.google.com/store/apps/details?id=com.torg.torg&hl=ru&referrer=utm_source%3Dolx.uz%26utm_medium%3Dcpc%26utm_campaign%3Dandroid-app-footer"><img src="{% static 'images/g-play.jpg' %}" alt=""></a>
              <a target="_blank" class="" href="https://itunes.apple.com/uz/app/torg.uz/id665094472?mt=8&ign-mpt=uo%3D4"><img src="{% static 'images/app-store.jpg' %}" alt=""></a>
          </div>
        </div>
    </div>

</footer>
<!-- Footer -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>