{% extends 'base.html' %}

{% block content %}
    <div class="search-field">
        <form action="">
            <div class="input-group p-5">
                <input type="search" class="px-3 py-3" placeholder="{{ elon }} e'lonlar yoningizda" required aria-label="Search" aria-describedby="search-addon" />
                <button class="btn btn-light search-button" type="submit">Qidiruv <i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="">
        <h2 class="text-center my-3">Bosh toifalar</h2>
    </div>
{% endblock %}
