{% extends 'base.html' %}
{% load static %}

{% block title %} Foydalanuvchi profili -  {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-3">Foydalanuvchi profili ma'lumotlari</h1>
        <form method="post">{% csrf_token %}
            <div class="post-add-form">
                <div class="p-3" style="background: #fff;">
                    <div class="mb-4 px-4 pt-3">
                        <h5>Ismingiz</h5>
                        <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="Ismingiz">
                    </div>
                    <div class="mb-4 px-4">
                        <h5>Familiyangiz</h5>
                        <input type="text" name="last_name" value="{{ request.user.last_name }}" placeholder="Familiyangiz">
                    </div>
                    <div class="mb-4 px-4">
                        <h5>Username</h5>
                        <input id="username_id" type="text" name="username" value="{{ request.user.username }}" placeholder="Username" required  oninvalid="this.setCustomValidity('Bu maydonni to\'ldirish talab etiladi')" oninput="setCustomValidity('')">
                        {% if form.username.errors %}
                            <p class="text-danger">{{ form.username.errors|striptags }}</p>
                            <script>document.getElementById('username_id').focus();</script>
                        {% endif %}
                    </div>
                    <div class="mb-4 px-4">
                        <h5>Email</h5>
                        <input type="email" name="email" value="{{ request.user.email }}" placeholder="Email">
                    </div>
                    <div style="background: #fff;" class="mt-4 p-4">
                        <button class="button post-add-btn" type="submit">Saqlash</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

{% endblock %}
