{% extends 'base.html' %}
{% load static %}

{% block title %}Sizning e'lonlaringiz - {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Sizning e'lonlaringiz</h1>
        <hr>
        {% if user_ads %}
            {% for user_ad in user_ads %}
            <div class="row my-3 cat-item">
                <div class="col-lg-3 col-md-4 col-sm-5 col-5">
                    {% if user_ad.image %}
                        <a class="a-rm-bg" href="{% url 'ads:detail' user_ad.category.slug user_ad.slug %}">
                            <img src="{{ user_ad.image.url }}" alt="user ad image">
                        </a>
                    {% else %}
                        <a href="{% url 'ads:detail' user_ad.category.slug user_ad.slug %}">
                            <img src="{% static 'images/default_img.jpg' %}" alt="user ad image">
                        </a>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-8 col-sm-7 col-7">
                    <h5><a href="{% url 'ads:detail' user_ad.category.slug user_ad.slug %}">{{ user_ad.title }}</a></h5>
                    <p><b>{{ user_ad.price }} {{ user_ad.currency }}</b></p>
                    <p><small>{{ user_ad.category_city.name }} - {{ user_ad.created_time|date:'Y-m-d' }}</small></p>
                </div>
                <div class="col-lg-3 col-sm-12 col-12 text-center my-2">
                    <a href="{% url 'ads:update' user_ad.slug %}">
                        <span><i class="fa-regular fa-pen-to-square px-2"></i>Tahrirlash</span>
                    </a> |
                    <a class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class=""><i class="fa-solid fa-trash-can px-2"></i>O'chirish</span>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">E'lonni o'chirish!</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Ushbu e'lonni o'chirib tashlamoqchimisiz?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Yo'q</button>
                              <form method="post" action="{% url 'ads:detail' user_ad.category.slug user_ad.slug %}">{% csrf_token %}
                                <button type="submit" class="btn btn-danger px-4">Ha</button>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="center">
                <img src="{% static 'images/ad-list.svg' %}" alt="">
                <h4><b>Sizda hali e'lonlar mavjud emas</b></h4>
                <a class="a-rm-bg" href="{% url 'ads:create' %}"><button class="button login-btn">E'lon joylashtirish</button></a>
            </div>
        {% endif %}
    </div>

{% endblock %}
